{% extends "registering_app/base.html" %}
{% load staticfiles %}

{% block head_block %}
  <title>Register</title>
  <link rel="stylesheet" href="{% static "index/css/serve.css" %}">
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
        <div class="welcome-message">
            <h1 class="display-4">Ready to Serve?</h1>
            <p class="font-weight-light">We are glad you have come to the right decision to serve TTANTTAN.
            <br>
            He is the only rhinosaurus living today.</p>
            <hr class="my-4">
        </div>

      <div class="serve-form">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <label for="id_firstName">First Name</label>
                    <input type="text" class="form-control" id="id_firstName" name="first_name" placeholder="John">
                </div>
                <div class="col">
                    <label for="id_lastName">Last Name</label>
                    <input type="text" class="form-control" id="id_lastName" name="last_name" placeholder="Smith">
                </div>
            </div>
            <div class="form-group">
              <label for="id_username">Username</label>
              <input type="text" name="username" class="form-control" id="id_username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="id_email">Email address</label>
              <input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="example@domain.com">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="id_password">Password</label>
              <input type="password" name="password" class="form-control" id="id_password" placeholder="At least 5 characters long">
            </div>
            <div class="form-group">
                <label for="id_verifyPassword">Verify Password</label>
                <input type="password" name="verifyPassword" class="form-control" id="id_verifyPassword" placeholder="At least 5 characters long">
                <small class="form-text text-muted">{% if message %}{{ message }}{% endif %}</small>
              </div>
            <div class="form-group form-check">
              <input type="checkbox" name="agreement" class="form-check-input" id="id_agreement">
              <label for="id_agreement" class="form-check-label text-muted" for="exampleCheck1">I agree to the terms and conditions</label>
            </div>
            <div class="submit-btn">
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="height: 80%;">Submit</button>
            </div>
          </form>
       </div>
    </div>
  </div>
{% endblock %}