{% extends 'base_app/base.html' %}
{% load staticfiles %}

{% block header %}
<title>Login Page</title>
<link rel="stylesheet" href="{% static 'base_app/css/loginStyle.css' %}">
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Login</h1>
    <hr class="my-4">
    <div class="container" id="login-box">
        <form action="{% url 'login' %}" method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="input-group input-group-lg">
                        <input name="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Username">
                    </div>
                
                    <div class="input-group input-group-lg">
                        <input name="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Password">
                    </div>
                </div>

                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-dark" id="login-btn">Login</button>
                </div>
                
            </div>
    </form>
    <hr class="my-4">
    <div class="container" id="registration-box">
        <h4>or register now!</h4>
        <div>
            <a class="btn btn-lg btn-primary" href="{% url 'base_app:register' %}">
                Register
            </a>
        </div>
    </div>
    </div>


</div>

{% endblock %}