{% extends 'base_app/base.html' %}
{% load staticfiles %}

{% block header %}
<title>Welcome Page</title>
<link rel="stylesheet" href="{% static 'base_app/css/indexStyle.css' %}">
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Welcome to New Site</h1>
    <hr class="my-4">
    <div class="container" id="content">
        <div class="row">
            <div class="col-3">
                <div class="ttanttanImg">
                    <img id="ttanttan" src="{% static "base_app/images/index/ttanttan.jpeg" %}" class="img-thumbnail" alt="TTANTTAN is swimming...">
                </div>
            </div>
            <div class="col-9">
                <div class="ttanttanText">
                    <div class="media">    
                        <div class="media-body">
                            <h5 class="mt-0">The TTANTTAN</h5>
                                The "TTANTTAN" is the legendary rhinosaurus that conquered the world of flies by beating the "Lord of Flies" in a World-Fastest-Soup-Staring-Contest in B.C.5000.
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}